@charset "utf-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


#title {
	background-color: #8a1a1a;
}

.section {
	background-color: #eaeaea;
	padding: 10px;
	margin-bottom: 20px;
}

.section-title {
	background-color: #ddd;
	padding: 5px;
	margin-bottom: 10px;
	font-size: 1.2em;
	font-weight: bold;
}

.list {
	list-style-type: circle;
	margin-left: 20px;
}

.list-item {
	margin-bottom: 5px;
}

.link {
	color: blue;
	text-decoration: underline;
}

.highlight {
	background-color: yellow;
}

.selected {
	background-color: aqua;
}
